Resources/config/schema/harbor_api-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://scottbass3.com/schema/dic/harbor_api"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://scottbass3.com/schema/dic/harbor_api"
    elementFormDefault="qualified">

    <xsd:element name="config" type="config" />

    <xsd:complexType name="config">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="base-uri" type="xsd:string" use="required"/>
            <xsd:element name="username" type="xsd:string" use="required"/>
            <xsd:element name="password" type="xsd:string" use="required"/>
        </xsd:choice>
    </xsd:complexType>
</xsd:schema>